<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Quản lý nhân viên </title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="resources/css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
	<link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Itim|Lobster|Montserrat:500|Noto+Serif|Nunito|Patrick+Hand|Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i|Roboto+Slab|Saira" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet prefetch" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
	<script>
	$(document).ready(function(){
		// Activate tooltip
		$('[data-toggle="tooltip"]').tooltip();

		/* $('#editEmployeeModal').on('shown.bs.modal', function(){
			alert("Hello! I am an alert box!!");
		}); */
		$(function () {	
			console.log('addend1');
			var modalFlag = $('#modalFlag').val();
			console.log(modalFlag);
			if (modalFlag == 1) {
				console.log('Da vao');
				$('#addEmployeeModal').modal('show');
			} else if (modalFlag == 2) {
				$('#editEmployeeModal').modal('show');
			}
		});

		$('.table1 .edit').on('click',function(event){
			
			event.preventDefault();
			var href = $(this).attr('href');
			var $datepicker = $('#editEmployeeModal #datepicker');
			
			$.get(href,function(employee,status){
				$('#editEmployeeModal #idEmployee').val(employee.idEmployee);
				$('#editEmployeeModal #nameEmployee').val(employee.nameEmployee);
				if(employee.sex == 1){
					$('#editEmployeeModal #radio_male').attr('checked',true);
				} else {
					$('#editEmployeeModal #radio_female').attr('checked',true);
				}
				$('#editEmployeeModal #datepicker').datepicker('setDate', new Date(employee.birthday));
				$('#editEmployeeModal #address').val(employee.address);
				$('#editEmployeeModal #phone').val(employee.phone);
				$('#editEmployeeModal #email').val(employee.email);
				$('#editEmployeeModal #basicSalary').val(employee.basicSalary);
			});

			$('#editEmployeeModal').modal();
		});
		
		$('.table1 .delete').on('click',function(event){
			
			event.preventDefault();
			var href = $(this).attr('href');

			$.get(href,function(employee,status){
				$('#deleteEmployeeModal #idEmployeeD').val(employee.idEmployee);
				$('#deleteEmployeeModal #nameEmployeeD').val(employee.nameEmployee);
			});

			$('#deleteEmployeeModal').modal();
		});
		
		// Select/Deselect checkboxes
		var checkbox = $('table tbody input[type="checkbox"]');
		$("#selectAll").click(function(){
			if(this.checked){
				checkbox.each(function(){
					this.checked = true;
				});
			} else{
				checkbox.each(function(){
					this.checked = false;
				});
			} 
		});
		checkbox.click(function(){
			if(!this.checked){
				$("#selectAll").prop("checked", false);
			}
		});
		$(function () {	
			$("#datepicker").datepicker({
			autoclose: true,
			todayHighlight: true
			}).datepicker('update', new Date());
			});
	});
	</script>
</head>
<body>

<div class="container-fluid">

	<!-- Include _menu.html -->
	<th:block th:include="/_menu_header"></th:block>
	<input type="hidden" th:value="${modalFlag}" class="invisible" id="modalFlag">
	<div class="container-xl">
		<div class="table-responsive">
			<div class="table-wrapper">
				<div class="table-title">
					<div class="row">
						<div class="col-sm-6">
							<h2>Quản lý <b>Nhân viên</b></h2>
						</div>
						<div class="col-sm-6">
							<a href="#addEmployeeModal" class="btn btn-success" data-toggle="modal"><i class="material-icons">&#xE147;</i> <span>Thêm nhân viên</span></a>
							<!-- <a href="#deleteEmployeeModal" class="btn btn-danger" data-toggle="modal"><i class="material-icons">&#xE15C;</i> <span>Xóa</span></a> -->
						</div>
					</div>
				</div>
				<table class="table1 table-striped table-hover">
					<thead>
						<tr>
							<!-- <th>
								<span class="custom-checkbox">
									<input type="checkbox" id="selectAll">
									<label for="selectAll"></label>
								</span>
							</th> -->
							<th>Stt</th>
							<th>Họ và Tên</th>
							<th>Giới tính</th>
							<th>Ngày sinh</th>
							<th>Địa chỉ</th>
							<th>Điện thoại</th>
							<!-- <th>Email</th> -->
							<th>Lương CB</th>
							<th></th>
						</tr>
					</thead>
					<tbody>
						<tr th:each ="employee : ${employeePages.content}">
							<!-- <td>
								<span class="custom-checkbox">
									<input type="checkbox" id="checkbox1" name="options[]" value="1">
									<label for="checkbox1"></label>
								</span>
							</td> -->
							<td th:utext="${employeeStat.index + 1}"></td>
							<td th:utext="${employee.nameEmployee}"></td>
							<td th:utext="${employee.sex == 1}? 'Nam': 'Nu'"></td>
							<td th:utext="${#dates.format(employee.birthday,'dd-MM-yyyy')}"></td>
							<td th:utext="${employee.address}"></td>
							<td th:utext="${employee.phone}"></td>
							<!-- <td th:utext="${employee.email}"></td> -->
							<td th:text="${#strings.replace(#strings.replace(#numbers.formatCurrency(employee.basicSalary), '.00', ''), '$', '')}"></td>
							<td>
								<a th:href="@{findOne/(id=${employee.idEmployee})}" class="edit"><i class="material-icons" data-toggle="tooltip" title="Sửa">&#xE254;</i></a>
								<a th:href="@{findOne/(id=${employee.idEmployee})}" class="delete"><i class="material-icons" data-toggle="tooltip" title="Xóa">&#xE872;</i></a>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="clearfix">
					<div class="hint-text">Hiển thị <b>3</b> của tổng <b th:text=${employeePages.totalElements}></b> nhân viên</div>
					<ul th:if="${employeePages.totalPages > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
						<li class="page-item" th:class="${pageNumber==employeePages.number + 1} ? active">
							<a th:href="@{/manager_employee_view(pageId=${pageNumber})}" class="page-link" th:text=${pageNumber}></a>
						</li>
					</ul>
				</div>
			</div>
		</div>
	</div>

	<!-- Add Modal HTML -->
	<div id="addEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form th:action="@{/employee_register}" th:object="${employeeForm}" method="post">
					<div class="modal-header">
						<h4 class="modal-title">Thêm nhân viên</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label class="label-modal">Họ và Tên:</label>
							<input type="text" class="form-control" th:field="*{nameEmployee}" >
							<span class="error-form" th:if="${#fields.hasErrors('nameEmployee')}" th:errors="*{nameEmployee}"></span>
						</div>
						<div class="form-group">
							<label>Giới tính: </label>
							<div class="radio custom-control custom-radio custom-control-inline">
								<label class="btn btn-default form-check-label">
									<input class="form-check-input" type="radio" name="optradio" th:field="*{sex}" value="1" checked>Nam
								</label>
							</div>
							<div class="radio custom-control custom-radio custom-control-inline">
								<label class="btn btn-default form-check-label">
									<input class="form-check-input" type="radio" name="optradio" th:field="*{sex}" value="0">Nữ
								</label>
							</div>
							<span class="error-form" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"></span>
						</div>
						<div class="form-group">
							<label>Ngày sinh: </label>
							<div id="datepicker" class="input-group date" data-date-format="dd-mm-yyyy"> 
								<input class="form-control" maxlength="10" th:field="*{birthday}" type="text"> <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span> 
							</div>
							<span class="error-form" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></span>
						</div>
						<div class="form-group">
							<label>Địa chỉ:</label>
							<textarea class="form-control" th:field="*{address}"></textarea>
							<span class="error-form" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
						</div>
						<div class="form-group">
							<label>Điện thoại:</label>
							<input type="text" class="form-control" th:field="*{phone}">
							<span class="error-form" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
						</div>
						<div class="form-group">
							<label>Email:</label>
							<input type="text" class="form-control" th:field="*{email}">
							<span class="error-form" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
						</div>
						<div class="form-group">
							<label>Lương cơ bản:</label>
							<input type="number" class="form-control" th:field="*{basicSalary}">
							<span class="error-form" th:if="${#fields.hasErrors('basicSalary')}" th:errors="*{basicSalary}"></span>
						</div>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy">
						<input type="submit" class="btn btn-success" value="Thêm">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Edit Modal HTML -->
	<div id="editEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form th:action="@{/employee_edit}" th:object="${employeeEditForm}" method="post">
					<input type="hidden" id="idEmployee" th:field="*{idEmployee}">
					<div class="modal-header">
						<h4 class="modal-title">Chỉnh sửa nhân viên</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<div class="form-group">
							<label class="label-modal">Họ và Tên:</label>
							<input type="text" id="nameEmployee" th:field="*{nameEmployee}" class="form-control">
							<span class="error-form" th:if="${#fields.hasErrors('nameEmployee')}" th:errors="*{nameEmployee}"></span>
						</div>
						<div class="form-group">
							<label>Giới tính: </label>
							<div class="radio custom-control custom-radio custom-control-inline">
								<label><input type="radio" id="radio_male" th:field="*{sex}" value="1" name="optradio">Nam</label>
							</div>
							<div class="radio custom-control custom-radio custom-control-inline">
								<label><input type="radio" id="radio_female" th:field="*{sex}" value="0" name="optradio">Nữ</label>
							</div>
							<span class="error-form" th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}"></span>
						</div>
						<div class="form-group">
							<label>Ngày sinh: </label>
							<div id="datepicker" class="input-group date" data-date-format="dd-mm-yyyy"> 
								<input class="form-control" maxlength="10" th:field="*{birthday}" type="text"> <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span> 
							</div>
							<span class="error-form" th:if="${#fields.hasErrors('birthday')}" th:errors="*{birthday}"></span>
						</div>
						<div class="form-group">
							<label>Địa chỉ:</label>
							<textarea class="form-control" th:field="*{address}" id="address"></textarea>
							<span class="error-form" th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></span>
						</div>
						<div class="form-group">
							<label>Điện thoại:</label>
							<input type="text" class="form-control" th:field="*{phone}" id="phone">
							<span class="error-form" th:if="${#fields.hasErrors('phone')}" th:errors="*{phone}"></span>
						</div>
						<div class="form-group">
							<label>Email:</label>
							<input type="text" class="form-control" th:field="*{email}" id="email">
							<span class="error-form" th:if="${#fields.hasErrors('email')}" th:errors="*{email}"></span>
						</div>
						<div class="form-group">
							<label>Lương cơ bản:</label>
							<input type="number" class="form-control" th:field="*{basicSalary}" id="basicSalary">
							<span class="error-form" th:if="${#fields.hasErrors('basicSalary')}" th:errors="*{basicSalary}"></span>
						</div>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy">
						<input type="submit" class="btn btn-info" value="Lưu">
					</div>
				</form>
			</div>
		</div>
	</div>
	<!-- Delete Modal HTML -->
	<div id="deleteEmployeeModal" class="modal fade">
		<div class="modal-dialog">
			<div class="modal-content">
				<form th:action="@{/employee_delete}" th:object="${employeeForm}" method="post">
					<input type="hidden" id="idEmployeeD" th:field="*{idEmployee}">
					<div class="modal-header">
						<h4 class="modal-title">Xóa nhân viên</h4>
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
					</div>
					<div class="modal-body">
						<p>Bạn muốn xóa nhân viên?</p>
						<p id="nameEmployeeD"></p>
						<p class="text-warning"><small>Hành động này không thể khôi phục!</small></p>
					</div>
					<div class="modal-footer">
						<input type="button" class="btn btn-default" data-dismiss="modal" value="Hủy">
						<input type="submit" class="btn btn-danger" value="Xóa">
					</div>
				</form>
			</div>
		</div>
	</div>
</div>
</body>
</html>