<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title>Quản lý doanh thu</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
	<link rel="stylesheet" href="resources/css/style.css">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css">
	<link href="https://fonts.googleapis.com/css2?family=Play&display=swap" rel="stylesheet">
	<link href="https://fonts.googleapis.com/css?family=Dancing+Script|Itim|Lobster|Montserrat:500|Noto+Serif|Nunito|Patrick+Hand|Roboto+Mono:100,100i,300,300i,400,400i,500,500i,700,700i|Roboto+Slab|Saira" rel="stylesheet">
	<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
	<link rel="stylesheet prefetch" href="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/css/datepicker.css">
	<script src="http://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.3.0/js/bootstrap-datepicker.js"></script>
	<script>
	$(document).ready(function(){

		var DOCSO=function(){var t=["không","một","hai","ba","bốn","năm","sáu","bảy","tám","chín"],r=function(r,n){var o="",a=Math.floor(r/10),e=r%10;return a>1?(o=" "+t[a]+" mươi",1==e&&(o+=" mốt")):1==a?(o=" mười",1==e&&(o+=" một")):n&&e>0&&(o=" lẻ"),5==e&&a>=1?o+=" lăm":4==e&&a>=1?o+=" tư":(e>1||1==e&&0==a)&&(o+=" "+t[e]),o},n=function(n,o){var a="",e=Math.floor(n/100),n=n%100;return o||e>0?(a=" "+t[e]+" trăm",a+=r(n,!0)):a=r(n,!1),a},o=function(t,r){var o="",a=Math.floor(t/1e6),t=t%1e6;a>0&&(o=n(a,r)+" triệu",r=!0);var e=Math.floor(t/1e3),t=t%1e3;return e>0&&(o+=n(e,r)+" ngàn",r=!0),t>0&&(o+=n(t,r)),o};return{doc:function(r){if(0==r)return t[0];var n="",a="";do ty=r%1e9,r=Math.floor(r/1e9),n=r>0?o(ty,!0)+a+n:o(ty,!1)+a+n,a=" tỷ";while(r>0);return n.trim()}}}();

		var dateFrom = "[[${revenueConditionForm.dateFrom}]]";
		var dateTo = "[[${revenueConditionForm.dateTo}]]";

		var totalRevenue = "[[${totalRevenue}]]";
		var totalRevenueStr = DOCSO.doc(totalRevenue) + " đồng";
		$("#total_revenue_str").html(totalRevenueStr);

		// Activate tooltip
		$('[data-toggle="tooltip"]').tooltip();
		$(function () {	
			
		});
		$(function () {	
			$("#datepicker_from").datepicker({
			autoclose: true,
			todayHighlight: true
			}).datepicker('update', new Date(dateFrom));
			});
		$(function () {	
			$("#datepicker_to").datepicker({
			autoclose: true,
			todayHighlight: true
			}).datepicker('update', new Date(dateTo));
			});
		
		$(".revenue_detail").click(function(){
			event.preventDefault();
			var id = $(this).attr('href');
			
			$.ajax({
				type: "post",
				url: "/hairteenhung/get_details_bill",
				data: { idBill: id} ,
				/* dataType: 'json', */
				contentType: 'application/json; charset=utf-8',
				success: function(response){
					try {
 						var myJSON = JSON.parse(response);
 						var billInfoList = myJSON.billInfoList;
 						$("tbody#body_list_service tr").remove();
 						$("tbody#body_list_service td").remove();
 						var i;
 						for (i = 0; i < billInfoList.length; i++) {
 							$("tbody#body_list_service").append("<tr> ")
 							.append("<td>" + billInfoList[i].index + "</td>")
 							.append("<td>" + billInfoList[i].nameService + "</td>")
 							.append("<td>" + billInfoList[i].priceService + "</td>")
 							.append("<td>x " + billInfoList[i].countService + "</td>")
 							.append("<td>" + billInfoList[i].countService*billInfoList[i].priceServiceNumber + "</td>")
 							.append("<td>" + billInfoList[i].employeeName + "</td>")
 							.append("</tr>");
 						}
 						
 						$("#r_id_bill").html(id);
 						$("#r_customer").html('Nguyen Ich Thanh');
 						$("#r_date_check_in").html(myJSON.timeCheckIn);
 						$("#r_date_check_out").html(myJSON.timeCheckOut);
 						
 						$("#rtotal_bill_service").html(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(myJSON.totalPriceNumber));
 						$("#rdiscount_bill").html(myJSON.discount);
 						$("#rtotal_pay_service").html(new Intl.NumberFormat('vi-VN', { style: 'currency', currency: 'VND' }).format(myJSON.totalPriceFinal));
 						$("#total_pay_service_str").html(DOCSO.doc(myJSON.totalPriceFinal) + " đồng");
					} catch(e) {
						alert('Vui lòng chọn đầy đủ thông tin!');
					}
				},
				error: function(){
					alert('Lỗi hệ thống, Hãy thử lại sau!');
				}
			});
			
			$('#detailsBillModal').modal();
		});
	});
	</script>
</head>
<body>

<div class="container-fluid">

	<!-- Include _menu.html -->
	<th:block th:include="/_menu_header"></th:block>
	<div class="container-xl">
		<div class="table-responsive">
			<div class="table-wrapper">
				<div class="table-title">
					<form th:action="@{/manager_revenue_view}" th:object="${revenueConditionForm}" method="get">
						<div class="row">
							<div class="col-sm-4">
								<h2>Quản lý <b>Doanh Thu</b></h2>
							</div>
							<div class="col-sm-3 input-group date" id="datepicker_from" data-date-format="yyyy-mm-dd">
								<label style="color: white">Từ:&nbsp;</label>
								<input class="form-control" th:field="*{dateFrom}" maxlength="10" type="text"> <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span> 
							</div>
							<div class="col-sm-3 input-group date" id="datepicker_to" data-date-format="yyyy-mm-dd">
								<label style="color: white">Đến:&nbsp;</label>
								<input class="form-control" th:field="*{dateTo}" maxlength="10" type="text"> <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span> 
							</div>
							<div class="col-sm-2">
<!-- 								<input type="submit" class="btn btn-primary" data-toggle="modal"><i class="material-icons">&#xea11;</i> <span>Tìm</span> -->
								<button class="btn btn-primary"><i class="material-icons">&#xef4f;</i> <span>Thống kê</span></button>
							</div>
						</div>
					</form>
				</div>
				<table class="table1 table-striped table-hover">
					<thead>
						<tr>
							<th class="trevenue-id">Mã Hóa Đơn</th>
							<th class="trevenue-datecheckin">Ngày giờ Vào</th>
							<th class="trevenue-datecheckout">Ngày giờ Ra</th>
							<th class="trevenue-discount">Giảm giá (%)</th>
							<th class="trevenue-totalprice">Thành tiền (vnđ)</th>
							<th class="trevenue-details">Chi tiết Hóa Đơn</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each ="bill : ${billPages}">
							<td th:utext="${bill.idBill}"></td>
							<td th:utext="${bill.dateCheckInFormat}"></td>
							<td th:utext="${bill.dateCheckOutFormat}"></td>
							<td th:utext="${bill.disCount + ' %'}"></td>
							<td th:utext="${#strings.replace(#strings.replace(#numbers.formatCurrency(bill.totalMoney), '.00', ''), '$', '')}"></td>
							<td>
								<a th:href="@{${bill.idBill}}" class="revenue_detail"><i class="material-icons" data-toggle="tooltip" title="Xem chi tiết HĐ">&#xe8de;</i></a>
							</td>
						</tr>
					</tbody>
				</table>
				<div class="clearfix">
					<div class="hint-text">Tổng <b th:text=${totalRecord}></b> Hóa Đơn</div>
					<ul th:if="${#lists.size(pageNumbers) > 0}" class="pagination" th:each="pageNumber : ${pageNumbers}">
						<li class="page-item" th:class="${pageNumber==currentPage} ? active">
							<a th:href="@{/manager_revenue_view(pageId=${pageNumber}, dateFrom=${revenueConditionForm.dateFrom}, dateTo=${revenueConditionForm.dateTo})}" class="page-link" th:text=${pageNumber}></a>
						</li>
					</ul>
				</div>
				<div style="background-color: black;">
					<div class="row">
							<div class="col-sm-12">
								<label style="color: white;font-size: 20px;margin-top: 10px;margin-bottom: 0px;margin-left:15px;"><i class="material-icons">&#xe263;</i>&nbsp;Tổng doanh thu:&nbsp;<b style="color: red;" th:utext="${#strings.replace(#strings.replace(#numbers.formatCurrency(totalRevenue), '.00', ''), '$', '') + ' vnđ'}"></b></label>
							</div>
					</div>
					<div class="row" style="margin-top: -3px;">
							<div class="col-sm-1">
							</div>
							<div class="col-sm-11">
								<label style="color: white;">&nbsp;(<i id="total_revenue_str"></i>)</label>
							</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<!-- Modal detail bill HTML -->
	<div id="detailsBillModal" class="modal fade">
		<div class="modal-dialog" style="max-width: 900px;">
			<div class="modal-content">
				<div class="modal-header">
					<h4 class="modal-title">Chi tiết Hóa đơn</h4>
					<button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
				</div>
				<div class="modal-body">
					<table>
						<tr>
							<td>Mã hóa đơn</td>
							<td>&nbsp;:&nbsp;</td>
							<td>&nbsp;<b id="r_id_bill"></b></td>
						</tr>
						<tr>
							<td>Khách hàng</td>
							<td>&nbsp;:&nbsp;</td>
							<td>&nbsp;<b id="r_customer"></b></td>
						</tr>
						<tr>
							<td>Ngày giờ vào</td>
							<td>&nbsp;:&nbsp;</td>
							<td>&nbsp;<b id="r_date_check_in"></b></td>
							<td>&emsp;-->&emsp;</td>
							<td>Ngày giờ ra</td>
							<td>&nbsp;:&nbsp;</td>
							<td>&nbsp;<b id="r_date_check_out"></b></td>
						</tr>
					</table>
					<div class="row list-service-current">
						<table class="table">
							<thead class="thead-dark">
								<tr>
									<th>STT</th>
									<th>Tên dịch vụ</th>
									<th>Đơn giá(vnđ)</th>
									<th>Số lượng</th>
									<th>Thành tiền(vnđ)</th>
									<th>Nhân viên</th>
								 </tr>
							  </thead>
							<tbody class="body-list" id="body_list_service">
							</tbody>
						</table>
					</div>
					<table>
							<tr>
								<td>Tổng tiền dịch vụ</td>
								<td>&nbsp;:&nbsp;</td>
								<td>&nbsp;<b id="rtotal_bill_service"></b></td>
							</tr>
							<tr>
								<td>Giảm giá</td>
								<td>&nbsp;:&nbsp;</td>
								<td>&nbsp;<b id="rdiscount_bill"></b>%</td>
							</tr>
							<tr>
								<td>Tổng thanh toán</td>
								<td>&nbsp;:&nbsp;</td>
								<td>&nbsp;<b style="color: red" id="rtotal_pay_service"></b>&nbsp;( <i id="total_pay_service_str"></i> )</td>
							</tr>
						</table>
				</div>
				<div class="modal-footer">
					<input type="button" class="btn btn-info" data-dismiss="modal" value="Thoát">
				</div>
			</div>
		</div>
	</div>
</body>
</html>